<!DOCTYPE html>
<html lang = "en-us">

<head>
    <title>CAYLENEJSP.ME</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="assets/images/disney-world-tickets.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<!--
        <a href="/">Home</a>
    <a href="/accounts">Accounts</a>
    <a href="/transactions">Transactions</a>
    -->

    <div id="header-top">
<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Contact Me</a>
        </li>
    </ul>
</div>

<div class="jumbotron jumbotron-fluid" id="header-jumbo" >
    <div class="container">
        <h1 class="display-4">Caylene Picache</h1>
        <p class="lead">Software Developer</p>
        
    </div>
</div>
</div>


	<body>
	{{{ body }}}
	</body>
	
</html>