<div id="sat-header-top">
    <div class="container">
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
        </li>
        </ul>  
</div>
<div class="jumbotron jumbotron-fluid" id="sat-jumbo" >
    <div class="container">
        <h1 class="display-4" id="sat-name">Caylene Picache</h1>
        <p class="lead" id="sat-tag">About Me</p>
        
    </div>
</div>
</div>

<div class="container" id="white-overlay">
<img id="aboutme-img" src="https://raw.githubusercontent.com/caylenepicache/Responsive-Portfolio/master/assets/images/IMG_5057.JPG">

Caylene is a hyperbaric technician at UCSD Medical Center and pursuing a career in the tech industry. A UCSB alumni, she has directed and produced a sold out production and oversaw the human osteology lab on campus. Outside of work, she enjoys hiking, at a coffee shop, kickboxing, or a beer bar (not necessarily all at the same time). Her favorite music ranges from the bright vibes of Tennis to the grit of Kendrick Lamar to the soul of Al Green.
<img id="aboutme-img-right" src="https://raw.githubusercontent.com/caylenepicache/Responsive-Portfolio/master/assets/images/IMG_4510.JPG">  You can probably find her taking pictures of food and dogs. Her best friend is her dog Bucky, a parson russell terrier.
</div>

