<div id="sat-header-top">
    <div class="container">
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
        </li>
        </ul>  
</div>
<div class="jumbotron jumbotron-fluid" id="sat-jumbo" >
    <div class="container">
        <h1 class="display-4" id="sat-name">Caylene Picache</h1>
        <p class="lead" id="sat-tag">Contact Me</p>
        
    </div>
</div>
</div>

<div class="container" id="white-overlay">
    <h4 id="contact-me-head">caylenepicache@gmail.com</h4>

    <for>
    <div class="row">
        <div class="col">
            <label for="exampleFormControlInput1">First Name</label>
            <input id="firstNameInput" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Last Name</label>
            <input id="lastNameInput" type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email Address</label>
        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" id="textInput" rows="5"></textarea>
    </div>
    <button type="button" id="submitButton" class="btn btn-outline-secondary">Submit</button>
    </form>
    
</div>