<div id="header-top">
    <div class="container">
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
        </li>
        </ul>  
    </div>
<div class="jumbotron jumbotron-fluid" id="header-jumbo" >
    <div class="container">
        <h1 class="display-4" id="jumbo-name">Caylene Picache</h1>
        <p class="lead" id="jumbo-tag">Software Developer</p>
        
    </div>
</div>
</div>

<div class="container" id="white-overlay">
    
<h1 class="display-4">Caylene Picache</h1>
Lorem ipsum dolor amet schlitz kombucha poke vegan umami wolf plaid tilde. La croix marfa thundercats pop-up poutine meditation salvia cardigan lumbersexual hoodie ennui. Kinfolk biodiesel XOXO succulents kale chips retro. Skateboard pour-over authentic, tacos gentrify waistcoat ugh lomo put a bird on it cornhole banjo DIY typewriter kinfolk.

Gentrify meditation man bun celiac adaptogen ennui you probably haven't heard of them hashtag disrupt, activated charcoal actually freegan cardigan aesthetic art party. Stumptown offal tilde kinfolk. Ennui pork belly trust fund chia direct trade. Squid letterpress chambray, bitters skateboard slow-carb gochujang blog chia lumbersexual. Lyft godard freegan franzen affogato adaptogen. Plaid austin migas, dreamcatcher fashion axe fam XOXO small batch photo booth snackwave la croix yuccie chambray.
</div>

<div class="container">
    
    <h1 class="display-4">part 2</h1>
    Lorem ipsum dolor amet schlitz kombucha poke vegan umami wolf plaid tilde. La croix marfa thundercats pop-up poutine meditation salvia cardigan lumbersexual hoodie ennui. Kinfolk biodiesel XOXO succulents kale chips retro. Skateboard pour-over authentic, tacos gentrify waistcoat ugh lomo put a bird on it cornhole banjo DIY typewriter kinfolk.
    
    Gentrify meditation man bun celiac adaptogen ennui you probably haven't heard of them hashtag disrupt, activated charcoal actually freegan cardigan aesthetic art party. Stumptown offal tilde kinfolk. Ennui pork belly trust fund chia direct trade. Squid letterpress chambray, bitters skateboard slow-carb gochujang blog chia lumbersexual. Lyft godard freegan franzen affogato adaptogen. Plaid austin migas, dreamcatcher fashion axe fam XOXO small batch photo booth snackwave la croix yuccie chambray.
</div>
s