<div id="header-top">
    <div class="container">
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
        </li>
        </ul>  
    </div>
<div class="jumbotron jumbotron-fluid" id="header-jumbo" >
    <div class="container">
        <h1 class="display-4" id="jumbo-name">Caylene Picache</h1>
        <p class="lead" id="jumbo-tag">Software Developer</p>
        
    </div>
</div>
</div>

<div class="container" id="white-overlay">

<img id="profileimg" src="../public/assets/images/profileimg.jpg">

<div id="linkBox">
<a href="/aboutme" id="whiteHeaders">Get to know me</a>
</div>
    

</div>

<div id="fixed-background">

    <div id="linkBoxLeft">
    <a href="/portfolio" id="plantHeaders">Projects I've Done</a>
    </div>

    <img id="portImg" src="../public/assets/images/rawpixel-570911-unsplash.jpg">


</div>
