<div id="sat-header-top">
    <div class="container">
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactme">Contact Me</a>
        </li>
        </ul>  
</div>
<div class="jumbotron jumbotron-fluid" id="sat-jumbo" >
    <div class="container">
        <h1 class="display-4" id="sat-name">Caylene Picache</h1>
        <p class="lead" id="sat-tag">Portfolio</p>
        
    </div>
</div>
</div>

<div class="container" id="white-overlay">

<div class="card-columns">
    <div class="card">
        <img src="../public/assets/images/juniperphoton-404052-unsplash.jpg" class="card-img-top" alt="BeerMapp"/>
        <div class="card-body">
        <a id="port-link" href="https://glacial-cove-37095.herokuapp.com"><h5 class="card-title">BeerMappSD</h5></a>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>

  <div class="card">
    <img class="card-img-top" src="../public/assets/images/jeremy-bishop-549225-unsplash.jpg" alt="FriendFinder">
    <div class="card-body">
     <a id="port-link" href="https://damp-reaches-27688.herokuapp.com/"><h5 class="card-title">Friend Finder</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>


  <div class="card">
    <img class="card-img-top" src="../public/assets/images/rich-tervet-662093-unsplash.jpg" alt="LIRI-BOT">
    <div class="card-body">
     <a id="port-link" href="https://github.com/caylenepicache/LIRI-BOT"><h5 class="card-title">LIRI-BOT</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>

  <div class="card">
    <img class="card-img-top" src="../public/assets/images/marko-blazevic-313835-unsplash.jpg" alt="Hangman">
    <div class="card-body">
     <a id="port-link" href="https://caylenepicache.github.io/Hangman-Game/"><h5 class="card-title">Hangman: Flower Edition</h5></a>
      <p class="card-text">Tech Stack: HTML5, CSS3</p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../public/assets/images/brooke-lark-537700-unsplash.jpg" alt="ShiggingChef">
    <div class="card-body">
     <a id="port-link"  href="https://sdrosi.github.io/shigging_chef_app/"><h5 class="card-title">Shigging Chef</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="../public/assets/images/park-troopers-221399-unsplash.jpg" alt="Scheduler">
    <div class="card-body">
     <a id="port-link" href="https://caylenepicache.github.io/train-scheduler/"><h5 class="card-title">Meet and Greet Scheduler</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>



  <div class="card">
    <img class="card-img-top" src="../public/assets/images/tracy-thomas-56810-unsplash.jpg" alt="GIPHYAPI">
    <div class="card-body">
     <a id="port-link" href="https://caylenepicache.github.io/GIPHY-API/"><h5 class="card-title">Television GIPHY-API</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>


  <div class="card">
    <img class="card-img-top" src="../public/assets/images/benjamin-hung-359037-unsplash.jpg" alt="TriviaGame">
    <div class="card-body">
     <a id="port-link" href="https://caylenepicache.github.io/TriviaGame/"><h5 class="card-title">Japanese Trivia Game</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>


    <div class="card">
    <img class="card-img-top" src="../public/assets/images/ashley-baxter-448219-unsplash.jpg" alt="EatTheBurger">
    <div class="card-body">
     <a id="port-link" href="https://secret-reaches-53324.herokuapp.com/"><h5 class="card-title">Eat The Burger</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>

  <div class="card">
    <img class="card-img-top" src="../public/assets/images/victoria-kure-wu-543514-unsplash.jpg" alt="RPG Game">
    <div class="card-body">
     <a id="port-link" href="https://caylenepicache.github.io/week-4-game/"><h5 class="card-title">RPG Game</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>





</div>