#header-top {
    background-image: url("../images/johannes-hofmann-536086-unsplash.jpg") !important; 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 0%;
    padding-bottom: 0%;
    color: white;
}
.jumbotron {
    background-color: transparent !important;
}