#header-top {
    background-image: url("../images/johannes-hofmann-536086-unsplash.jpg") !important; 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 1%;
    padding-bottom: 10%;
    color: white;
}

a {
    text-shadow: 2px 2px black;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white !important;
}

a:hover {
    background-color: black;
    font-weight: strong;
    text-decoration: overline;
}
.jumbotron {
    background-color: transparent !important;
}
.jumbotron-fluid {
    padding-top: 15% !important;
}

#jumbo-name, #jumbo-tag {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#jumbo-name {
    font-size: 100px;
    text-shadow: 2px 2px black
}

#jumbo-tag {
    font-size: 60px;
    text-shadow: 2px 2px black;
}

#fixed-background {
    background-image: url("../images/johannes-hofmann-536086-unsplash.jpg") !important; 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100% !important;
    height: 500px !important;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

#profileimg {
    width: 400px;
    word-wrap: break-word;
}

#portImg {
    width: 400px;
    word-wrap: break-word;
    float: right;

}

#whiteHeaders {
    font-size: 100px !important;
    position: relative;
    text-align: center;
    color: #003300 !important;
}

#whiteHeaders:hover {
    background-color: #003300 !important;
    text-decoration: none !important;
    color: white !important;
}

#plantHeaders {
    font-size: 100px !important;
    position: relative;
    text-align: center;
}

#plantHeaders:hover {
    background-color: #ffffff !important;
    text-decoration: none !important;
    color: #003300 !important;
}

#linkBox {
    width: 50%;
    float: right;
    text-align: center;
}

#linkBoxLeft {
    width: 50%;
    float: left;
    text-align: center;
}
/*satellite*/

#white-overlay {
    background-color: white;
    margin-top: 2%;
    font-size: 22px;
    padding-bottom: 30px;
}

#sat-jumbo {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

#sat-header-top {
    background-image: url("../images/johannes-hofmann-536086-unsplash.jpg") !important; 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;

}
#sat-name, #sat-tag {
    font-family: 'Playfair Display', serif;
    text-align: left;
    text-shadow: 2px 2px black;
}

#sat-tag {
    font-size: 35px;
}

/*ABOUT ME*/
#aboutme-img{
    width: 50%;
    float:left;
    margin:10px;
}

#aboutme-img-right{
    width: 50%;
    float:right;
    margin:10px
}

/*PORTFOLIO*/
.card {
    display: inline-block;
}

.card-text {
    font-size: 20px;
}


a#port-link {
    color: grey !important;
    text-shadow: none;
    text-align: center;
}

#resumeHeaders {
    font-size: 80px !important;
    position: relative;
    text-align: center;
    color: #003300 !important;
}

#resumeHeaders:hover {
    background-color: #003300 !important;
    text-decoration: none !important;
    color: white !important;
}


/*contactme*/

#contact-me-head {
    font-size: 40px;
    text-align: center;
}


/* icons */
.fab {
    padding: 20px;
    font-size: 50px;
    width: 90px;
    text-align: center;
    text-decoration: none;
}

#iconHover:hover {
    opacity: 0.7;
}

.fa-linkedin-in {
    background: #007bb5 !important;
    color: white;
    text-decoration: none !important;
}

.fa-github {
background: #333 !important;
color: white;
text-decoration: none !important;
}

.fa-stack-overflow {
background: #FF9900 !important;
color: white;
text-decoration: none !important;
}

.leftIcons {
    float: left;
    width: 30%;
    text-align: center;
}

.rightForm {
    float: right;
    width: 70%;
    text-align: center;
    flex-wrap: wrap;
}

/*MEDIA */

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}